.tmp-wrapper {
	max-width : 860px;
	margin : 5% auto 0 auto;
}
.content-wrapper {
	max-width: 860px;
	margin: 0 auto;
}
html * {
	@mixin box-sizing($boxmodel) {
		-webkit-box-sizing: $boxmodel;
		-moz-box-sizing: $boxmodel;
		box-sizing: $boxmodel;
	}
	@include box-sizing(border-box);
}
body {
	background-color: lighten(gray, 20%);
}
.hidden { display:none !important; }
.show   { display:block !important; }

$tab-padding : 10px;
$tab-height  : 45px;

// >>> Layout / User Interface

.taby[data-tab]{

	a {
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color: black;
			text-decoration: none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
	}

	ul {

		position:relative;

		ul {
			position: absolute;
			top: $tab-height;
			left:0; right:0;
		}

		padding:0; margin:0;
		list-style-type:none;

		> li {
			height: $tab-height;
			padding: $tab-padding;
			float:left;
			z-index: 1;
		}

		> li[data-taby-fixed-size]{
			height: $tab-height;
			width: $tab-height;
			position: absolute;
			right: 0; top: 0;
			padding: $tab-padding;
			z-index: 2;

		}

		ul { display:none; padding:0; list-style-type:none; margin:0;}
	}
}

// >>> Theme default
.taby[data-tab],
.taby[data-tab="default"] {

	font-size: 14px;

	ul.show:last-child {
		//font-weight: bold;
	}

	ul {
		// > first parent level
		> li {
			cursor: pointer;
			background-color: #bdc0b0;
			text-align: center;
			border-right: 2px solid #ffffff;
			border-bottom: 2px solid #ffffff;
		}
		li:last-child {
			border-right: none;
		}
		// > child levels
		ul > li {
			border-right: none;
			background-color: #d9dccc;
		}
		ul > li:after {
			content: " ";
			display: block;
			border-right: 2px solid #bdc0b0;
			// >> diesen bereich(siehe unten) dynamisch ueber funktion
			height: $tab-height - 20px;
			position: relative;
			top: -17px;
		}
		ul > li:last-child:after {
			content: "";
			border-right: none;
		}
		li.taby-lock {
			background-color: gray;

		}
		li.taby-active {
			//background-color: #d9dccc;
			//font-weight: bold;
		}
		li.taby-active > ul {
			font-weight: normal;
		}
		li a {
			display: block;
		}
	}
}
// >>> Theme blue-ice
.taby[data-tab="blue-ice"] {

}
