.tmp-wrapper {
	max-width : 600px;
	margin : 5% auto 0 auto;
}
.content-wrapper {
	max-width: 600px;
	margin: 0 auto;
}
html * {
	@include box-sizing(border-box);
}
.hidden { display:none !important; }
.show   { display:block !important; }

$tab-padding : 10px;
$tab-height  : 45px;

// >>> Layout / User Interface

.taby[data-tab]{

	a {
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color: black;
			text-decoration: none;
		}
	}

	ul {

		position:relative;

		ul {
			position: absolute;
			top: $tab-height;
			left:0; right:0;
		}

		padding:0; margin:0;
		list-style-type:none;

		> li {
			height: $tab-height;
			padding: $tab-padding;
			float:left;
			z-index: 1;
		}

		> li[data-taby-fixed-size]{
			height: $tab-height;
			width: $tab-height;
			position: absolute;
			right: 0; top: 0;
			padding: $tab-padding;
			z-index: 2;

		}

		ul { display:none; padding:0; list-style-type:none; margin:0;}
	}
}

// >>> Theme

